nav.navbar {
  margin-bottom: 0;
  min-height: 0;
}
nav.navbar .row {
  background: #eee;
}
.career-selector {
  background: #ddd;
  min-height: 45px;
}
.career-selector a {
  padding: 10px 0;
  display: block;
}
.text-feed {
  overflow: hidden;
}
.text-feed p {
  white-space: nowrap;
}
.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  background: LightSkyBlue;
  position: relative;
}
.jumbotron footer.container {
  position: absolute;
  bottom: 10px;
}
nav.secondary {
  margin-top: 30px;
  text-align: right;
}
nav.secondary ul {
  display: inline-block;
}
.btn {
  border-radius: 0;
}
@media screen and (max-width: 767px) {
  .jumbotron {
    padding: 0 10px;
  }
  .jumbotron footer.container {
    position: static;
  }
}
